.App {
  text-align: center;
}


.topnav {
  background-color: #282c34;
  overflow: hidden;
  position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
  float: Right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #00efb7;
  color: white;
}

.App-logo {
  height: 50vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-container {
  display: table; 
  width: 100%; 
}

.col {
  float: left;
  width: 33.33%;
  display: table-cell;
  display: block;
  height: 600px;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}

.App-logo2 {
  height: 25vmin;
}


.Btn {
	background-color:#00efb7;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #00efb7;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px white;
}
.Btn:hover {
	background-color:mediumorchid;
}
.Btn:active {
	position:relative;
	top:1px;
}
.div {
  font-size: 150%;
}

.col-container1 {
  display: table; 
  width: 100%; 
}

.col1 {
  float: left;
  width: 33.33%;
  display: table-cell;
  display: block;
  height: 600px;
  background-color: White;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}
.col-container2 {
  display: table; 
  width: 100%; 
}

.col2 {
  float: left;
  width: 33.33%;
  display: table-cell;
  display: block;
  height: 600px;
  background-color: #282c34;
  }

.row:after {
  content: "";
  display: table;
  clear: both;
}